@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

h1,
h2,
h3 {
  font-size: 58px;
  font-family: var(--font-1);
  font-weight: normal;
  color: white;
  margin: 12px;
}

h2,
h3 {
  font-size: 40px;
  color: black;
  text-align: center;
}

h3 {
  font-size: 23px;
}

p {
  color: #505050;
  font-size: 20px;
  margin: 0;
}

p.smaller {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: white;
  margin: 0;
  --font-1: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  align-items: center;
}

body > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

body > section {
  margin: 12px;
}

header {
  position: relative;
  margin: 24px 12px;
  align-self: center;
}

header img {
  max-width: 100%;
  display: block;
  box-shadow: black 0 0 5px;
}

header > h1 {
  position: absolute;
  bottom: 0;
  background-color: #00000030;
  left: 0;
  right: 0;
  margin: 0;
}

nav.profile-links {
  display: flex;
  justify-content: space-evenly;
}

nav.profile-links {
  font-size: 50px;
  margin-top: 12px;
}

section.my-work {
  align-self: stretch;
}

div.projects {
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 24px;
}

div.project-card {
  display: grid;
  grid-template: auto auto 1fr / 1fr auto auto;
  box-shadow: #00000090 2px 2px 10px;
  max-width: 400px;
  height: 100%;
  width: 100%;
}

div.project-card > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

div.project-card > img,
div.project-card > p {
  grid-column-start: span 3;
  max-width: 100%;
}

div.project-card > a {
  place-self: center;
  font-size: 30px;
  height: 30px;
  padding: 12px;
}

div.project-card > a > img {
  height: 100%;
  width: 100%;
}

div.project-card > p {
  font-size: 20px;
  margin: 0 12px 24px 12px;
  text-wrap: wrap;
}

div.space {
  height: 100px;
  visibility: none;
}

footer > div.text-content > * {
  color: white;
}

footer > div.text-content {
  margin: 0;
  padding: 0 12px;
  align-self: stretch;
  background-color: #0791b2;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer > img {
  width: 100%;
  display: block;
}

@media (540px <= width) {
  header {
    float: left;
    max-width: min(40vw, 400px);
    margin: 0;
    margin-right: -28px;
    margin-bottom: -84px;
    transform: translate(-48px, -104px);
  }

  header > h1 {
    top: 0;
    left: calc(100% - 1.5em);
    bottom: auto;
    right: auto;
    width: max-content;
  }

  section.about-me {
    margin: 48px !important;
    margin-top: 104px !important;
    box-shadow: #00000030 0 0 5px;
    padding: 24px;
  }

  section.about-me > nav.profile-links {
    display: none;
  }
}

@media (1024px <= width) {
  header {
    min-width: 400px;
    transform: none;
    margin: 0;
    grid-row: span 3;
    justify-self: right;
    margin-right: 32px;
  }

  header > h1 {
    top: auto;
    left: 0;
    bottom: 0;
  }

  section.about-me {
    display: grid;
    grid-template: auto auto auto / auto auto;
    max-width: 1024px;
    margin: 48px !important;
    margin-left: 78px !important;
  }

  section.about-me > nav.profile-links {
    display: flex;
    float: right;
    justify-content: flex-end;
    gap: 0.5em;
  }
}
